<section class="amenities">
    <div class="amenities-container">
        <h3 class="amenities-title">The perfect escape.</h3>
        <p class="amenities-discr">Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            Nullam scelerisque aliquam odio et faucibus.
            Nulla rhoncus feugiat eros quis consectetur.
        </p>

        <ul class="amenities-list">
            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#plate"></use>
                </svg>

                <p class="list-discr__title">Modern Kitchen Appliances</p>
                <p class="list-discr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#tree"></use>
                </svg>

                <p class="list-discr__title">Outdoor Paths</p>
                <p class="list-discr">
                    Nulla rhoncus feugiat eros quis consectetur.
                </p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#coffee-maker"></use>
                </svg>

                <p class="list-discr__title">Coffee Maker</p>
                <p class="list-discr">
                    Vestibulum sit amet urna turpis. Mauris euismod elit et nisi ultrices, ut faucibus orci
                    tincidunt.
                </p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#forest"></use>
                </svg>
                <p class="list-discr__title">Natural Scenery</p>

                <p class="list-discr">Cras commodo consequat orci, in convallis risus egestas non.</p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#air-conditioner"></use>
                </svg>
                <p class="list-discr__title">Air Conditioner</p>

                <p class="list-discr">
                    Nullam scelerisque aliquam odio et faucibus.
                </p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#briefcase"></use>
                </svg>
                <p class="list-discr__title">Storage Solutions</p>

                <p class="list-discr">
                    Morbi neque ex, condimentum dapibus congue et, vulputate ut ligula.
                </p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#glass"></use>
                </svg>
                <p class="list-discr__title">Cutlery Selection</p>

                <p class="list-discr">
                    Duis tristique sed lorem a vestibulum.
                </p>
            </li>

            <li class="amenities-list__item">
                <svg class="amenities-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#pizza"></use>
                </svg>
                <p class="list-discr__title">Take-away Options</p>

                <p class="list-discr">
                    Nulla efficitur auctor hendrerit. Etiam ut orci varius, faucibus libero ac, cursus quam.
                </p>
            </li>

        </ul>

    </div>
</section>