<section class="arrangements">
    <div class="arrangements-container">
        <h3 class="arrangements-title">Sleeping arrangements</h3>
        <p class="arrangements-discr">
            Lorem ipsum dolor sit amet,
            consectetur adipiscing elit.
            Nullam scelerisque aliquam odio et faucibus.
            Nulla rhoncus feugiat eros quis consectetur.
        </p>

        <ul class="arrangements-list">
            <li class="arrang-item">

                <svg class="arrang-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#bed"></use>
                </svg>

                <p class="arrang-item__title">Beds</p>
                <p class="arrang-item__discr">
                    The cabin is equipped with 12 beds, 4 of which are in bunk.
                    The rent includes linens for all beds.
                </p>
            </li>

            <li class="arrang-item">

                <svg class="arrang-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#door"></use>
                </svg>

                <p class="arrang-item__title">Bedrooms</p>
                <p class="arrang-item__discr">
                    Spread out over two floors, the cabin offers 4 bedrooms.
                    Ranging from 2 to 4 beds per room.
                </p>
            </li>

            <li class="arrang-item">

                <svg class="arrang-item__img" width="43" height="64">
                    <use href="./images/sprite.svg#bath"></use>
                </svg>

                <p class="arrang-item__title">Bathrooms</p>
                <p class="arrang-item__discr">
                    The cabin has three bathrooms,
                    all equipped with showers and one with a bath tub,
                </p>
            </li>
        </ul>
    </div>
</section>