<section class="come">
    <div class="come-container">
        <div class="come-box__text">
            <h3 class="come-title">Come together.</h3>
            <p class="come-discr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et
                faucibus.
            </p>
        </div>

        <ul class="come-list">
            <li class="come-list__item">
                <svg class="come-item__img" width="36" height="36">
                    <use href="./images/sprite.svg#wifi"></use>
                </svg>

                <p class="come-item__discr">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit.
                </p>
            </li>

            <li class="come-list__item">
                <svg class="come-item__img" width="36" height="36">
                    <use href="./images/sprite.svg#hanger"></use>
                </svg>

                <p class="come-item__discr">
                    Nulla rhoncus feugiat eros quis consectetur.
                </p>
            </li>

            <li class="come-list__item">
                <svg class="come-item__img" width="36" height="36">
                    <use href="./images/sprite.svg#bread"></use>
                </svg>

                <p class="come-item__discr">
                    Nullam scelerisque aliquam odio et faucibus.
                </p>
            </li>

            <li class="come-list__item">
                <svg class="come-item__img" width="36" height="36">
                    <use href="./images/sprite.svg#service"></use>
                </svg>

                <p class="come-item__discr">
                    Morbi neque ex, condimentum.
                </p>
            </li>

        </ul>
    </div>
</section>