<section class="contacts">
    <div class="contacts-container">
        <h3 class="contacts-title">
            We're already booked up for the spring — hurry up & secure your stay for the summer.
        </h3>

        <p class="contacts-discr">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam scelerisque aliquam odio et faucibus.
        </p>

        <ul class="contacts-list">
            <li class="contacts-list__item">
                <button type="button" class="item-button item-button-contacts">Contact</button>
            </li>
            <li class="contacts-list__item">
                <button type="button" class="item-button">Book now</button>
            </li>
        </ul>
    </div>
</section>