<section class="feedback" id="feedback">
    <div class="feedback-container">
        <h3 class="feedback-title">Past guests.</h3>
        <p class="feedback-discr">
            Don't take our word for it! Have a look at what our previous guests say about their stay at the Guest
            House.
        </p>

        <div class="slider">

            <ul class="slides">
                <li class="slides-box">
                    <ul class="feedback-stars-list">
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                    </ul>

                    <div class="slides-box__item">
                        <h4 class="item-title">We had an amazing stay at the Guest House!</h4>
                        <p class="item-discr__feedback">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique.
                        </p>

                        <p class="item-user">Nate Davidsson</p>
                    </div>

                </li>

                <li class="slides-box">
                    <ul class="feedback-stars-list">
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#empty-star"></use>
                            </svg>
                        </li>
                    </ul>

                    <div class="slides-box__item">
                        <h4 class="item-title">Beautiful little hideaway.</h4>
                        <p class="item-discr__feedback">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique. Duis cursus, mi quis viverra ornare, eros dolor interdum nulla, ut
                            commodo
                            diam libero vitae erat. Aenean faucibus nibh et justo cursus id rutrum lorem imperdiet.
                        </p>
                        <p class="item-user">Laura Paulie</p>
                    </div>

                </li>

                <li class="slides-box">
                    <ul class="feedback-stars-list">
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                        <li class="stars">
                            <svg class="feedback-star__img">
                                <use href="./images/sprite.svg#star"></use>
                            </svg>
                        </li>
                    </ul>

                    <div class="slides-box__item">
                        <h4 class="item-title">Best vacation ever!</h4>
                        <p class="item-discr__feedback">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros
                            elementum tristique.
                        </p>

                        <p class="item-user">Greg Todd</p </div>
                    </div>
                </li>
            </ul>
        </div>
</section>