<footer class="footer">
    <div class="footer-container">
        <!-- About -->
        <ul class="about-list">
            <li class="about-item">
                <a href="#about" class="about-item__link">About us</a>
            </li>
            <li class="about-item">
                <a href="#feedback" class="about-item__link">Feedback</a>
            </li>
            <li class="about-item">
                <a href="#contacts" class="about-item__link">Contacts</a>
            </li>
            <li class="about-item">
                <a href="" class="about-item__link">Licenses</a>
            </li>
            <li class="about-item">
                <a href="" class="about-item__link">Instructions</a>
            </li>
            <li class="about-item">
                <a href="" class="about-item__link">Style guide</a>
            </li>
        </ul>

        <!-- Socials -->
        <div class="social">
            <h3 class="social-title">Social Media</h3>

            <ul class="social-list">
                <li class="social-item">
                    <a href="https://github.com/Heorgii" class="social-link">
                        <svg class="social-item__img" width="36" height="36">
                            <use href="./images/sprite.svg#icon-github"></use>
                        </svg>
                    </a>
                </li>

                <li class="social-item">
                    <a href="https://www.linkedin.com/in/heorgii-rushchak-19884a245" class="social-link">
                        <svg class="social-item__img" width="36" height="36">
                            <use href="./images/sprite.svg#icon-linkedin"></use>
                        </svg>
                    </a>
                </li>
            </ul>
        </div>

        <!-- Registration -->
        <div class="register">
            <h3 class="register-title">Newsletter</h3>
            <p class="register-discr">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse varius enim in eros elementum
                tristique.
            </p>

            <form class="register-form">
                <label class="form-lable">
                    <input class="form-input" type="email" name="email" placeholder="Email">
                </label>

                <label class="form-lable">
                    <input class="form-input" type="password" name="password" placeholder="Password" />
                </label>
            </form>

            <div class="btn-box">
                <button class="form-button" type="submit">Log in</button>
            </div>

            <p class="form-discr">If you don't have account yet
                <a class="form-discr__link" href="">Registration</a>
            </p>
        </div>

    </div>
    <!-- Contact -->
    <div class="contact">
        <a class="contact__logo" href="/">
            <img src="./images/logo.svg" alt="Logo" width="200" height="70">
        </a>

        <a class="contact-info" href="tel:+380959309876">+38 095 930 9876</a>
        <a class="contact-info" href="mailto:rushchakheorgii@gmail.com">rushchakheorgii@gmail.com</a>
    </div>
</footer>