<header class="header">
    <div class="container header-container">
        <a class="nav__logo" href="#">
            <img src="../images/3-frame.jpg" alt="">
        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="">Start</a></li>
                <li class="nav__item"><a class="nav__link" href="">Our history</a></li>
                <li class="nav__item"><a class="nav__link" href="">Contact</a></li>
            </ul>
        </nav>

        <div class="header__group">
            <button type="button" class="header-button">Registration</button>
        </div>

    </div>
</header>