<header class="header">
    <div class="container header-container">
        <a class="nav__logo" href="#">
            <img src="./images/logo.svg" alt="">
        </a>

        <nav class="nav">
            <ul class="nav__list">
                <li class="nav__item"><a class="nav__link" href="#about">About us</a></li>
                <li class="nav__item"><a class="nav__link" href="#feedback">Feedback</a></li>
                <li class="nav__item"><a class="nav__link" href="#contacts">Contact</a></li>
            </ul>
        </nav>

        <div class="header__group">
            <button type="button" class="header-button">Join / Log in</button>
        </div>

    </div>
</header>