.feedback-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 682px;
    background-color: var(--bg-color);
    padding: 100px 120px;
}

.feedback-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 36px;
    text-align: center;
    color: var(--main-color);
    margin-bottom: 12px;
}

.feedback-discr {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-align: center;
    width: 572px;
    color: var(--main-color);
    margin-bottom: 32px;
}

.feedback-list {
    display: flex;
}

.feedback-list__item {
    background: #FFFFFF;
    border: 1px solid rgba(82, 80, 59, 0.1);
    border-radius: 4px;
    margin-right: 20px;
    padding: 31px;

}

.feedback-list__item:last-child {
    margin-right: 0;
}

.item-title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    color: #333333;
    margin-bottom: 5px;
}

.item-discr__feedback {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
    margin-bottom: 5px;

    @media screen and (min-width: 768px) and (max-width:1199px) {
        & {
            width: 400px;
        }
    }
}

.item-user {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 20px;
    color: #333333;
}


.feedback-stars-list {
    display: flex;
    margin-left: 20px;
}

.feedback-star__img {
    width: 18px;
    height: 18px;
}

// SLIDER

.slider {
    width: 500px;
    text-align: center;
    overflow: hidden;
}

.slides {
    display: flex;
    overflow-x: auto;
    scroll-snap-type: x mandatory;
    scroll-behavior: smooth;
    -webkit-overflow-scrolling: touch;
    /*
    scroll-snap-points-x: repeat(300px);
    scroll-snap-type: mandatory;
    */
}

.slides::-webkit-scrollbar {
    width: 10px;
    height: 10px;
}

.slides::-webkit-scrollbar-thumb {
    background: #333333;
    border-radius: 10px;
}

.slides::-webkit-scrollbar-track {
    background: transparent;
}

.slides-box {
    scroll-snap-align: start;
    flex-shrink: 0;
    width: 500px;
    height: 300px;
    margin-right: 50px;
    border-radius: 10px;
    background: #eee;
    transform-origin: center center;
    transform: scale(1);
    transition: transform 0.5s;
    position: relative;
    font-size: 100px;
}

.slides-box__item{
    display: flex;
    flex-direction: column;
    align-items: center;
}