.main-title {
    padding: 140px 76px;
}

.title {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    font-size: 96px;
    line-height: 96px;

    text-align: center;
    color: var(--main-color);
}